@font-face {
  font-family: Main_Title;
  src: url("../fonts/Akira\ Expanded\ Demo.otf");
}

h1,h2,h3,h4,h5 {
    color: rgb(218, 218, 218);
    font-family: Main_Title;
}

p {
    color: rgb(218, 218, 218);
}

.markdown-body {
    background-color:black
}