@font-face {
  font-family: Main_Title;
  src: url("../fonts/Akira\ Expanded\ Demo.otf");
}

.blank_link:link {
    text-decoration: none;
}
.blank_link:visited {
    text-decoration: none;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1006;

  background-color: #030021;
  height: 64px;
  width: 100%;

  display: flex;
  align-items: center;
}

.header_item {
  font-family: Main_Title;
  color: white;
  padding-inline: 48px;
  text-decoration: none;

  border-right: #ffffff 2px solid;
}

.inactive {
  color: grey;
}