html {
  height: 100%;
}

body {
  min-height: 100%;
  background-image: radial-gradient(circle farthest-corner at 50% 0%, #2b4568 5%, #05081d 95%);
  position: relative;
  /*overflow: hidden;*/
}

#page_links {
  height: 35%;
  min-height: 200px;
  width: 100%;

  position: fixed;
  bottom: 10%;

  display: inline-grid;
  grid-auto-flow: column
}

#page_links div {
  height: 100%;
  min-width: 250px;
  margin-inline: 30px;
  
  background-color: rgb(68, 8, 87);
  border-radius: 50px;
}