.body {
  overflow: hidden;
}

#map {
  position: absolute;
  top: 0;
  left: 0;

  height: calc(-70px + 100%);
  width: 100dvw;

  margin-top: 64px;
}

.leaflet-popup-content {
  width: 400px;
}

.popup-edit-check {
  display: none;
}
.popup-edit-label {
  border: 1px solid #000;
  border-radius: 10px;
  display: inline-flex;
  padding: 3px;
  background-color: #c6c1bf;
  width: 50px;
  justify-content: center;
}
input[type=checkbox]:checked + .popup-edit-label {
  background-color: white;
}

.popup-header {
  margin-bottom: 2.5%;
  border-bottom: #a29e9c 2px solid;
}

.property-list {
  margin-top: 5%;
  padding-left: 0%;
  margin-bottom: 3%;
}
.property-list-item {
  display: flex;
  width: 100%;
}
.property-label {
  width: 130px;
  padding-inline: 10px;
  text-align: left;
}
.json-prop-field {
  flex: 1;
  padding-inline: 10px;
  text-align: right;
}